[Unit]
Description = Reverse ssh tunnel
After = network.target network-online.target 

[Service]
User = root
Type = forking
ExecStart = /usr/bin/autossh -M 0 -f  -N  -i /home/username/.ssh/id_rsa -R 2225:localhost:22 -l username  remote.host.com
StartLimitInterval = 60

[Install]
WantedBy = multi-user.target
