[Unit]
Description = Reverse ssh tunnel
After =  network-online.target 
#Requires

[Service]
User = root
#Type = forking
Environment=AUTOSSH_GATETIME=0
ExecStart = /usr/bin/autossh -M 0 -q  -N  -o "ExitOnForwardFailure=yes" -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3"  -i /home/username/.ssh/id_rsa -R 2225:localhost:22 -l username   remote-host.com
ExecStop= /usr/bin/killall autossh
RestartSec=5
Restart=always


[Install]
WantedBy = multi-user.target


